.avatar {
	height: 25px;
	width: 25px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 3px;
}
.readers-buttons {
	margin-top: 15px;
}
.btn {
	width: 45px;
	height: 25px;
	font-weight: bold;
	font-size: 11px;
}
